.background .dashboard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% - 100px), calc(-50% - 100px));
  width: 75%;
  height: 70%;
  margin: 100px;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
}

.dashboard .dashboard__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookmark .bookmark__bottom {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.bookmark .bookmark__bottom .bookmark__item {
  padding: 10px;
  color: black;
}

.dashboard__section:first-child .todo {
  padding: 20px 10px;
  width: 100%;
  height: 80%;
  background-image: url("../img/짱구잠옷디자인2.jpeg");
  background-size: 250%;
  border: 0.5px solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.todo #todo__title {
  font-size: 35px;
  margin: 10px 0px 20px 0px;
  text-align: center;
}

.todo #todo-form input {
  border: 0;
  background-color: antiquewhite;
  border-radius: 10px;
  padding: 13px;
  width: 90%;
  font-size: 20px;
}
.todo #todo-list {
  display: flex;
  flex-direction: column;
  padding: 10px 5px 10px 5px;
  overflow-y: auto;
}

.todo #todo-list li {
  display: flex;
  justify-content: space-between;
  margin: 5px 0px;
  padding: 5px 10px 5px 15px;
  border-radius: 10px;
  background-color: #9dd39f;
}

.todo #todo-list span {
  font-size: 25px;
}

.todo #todo-list button {
  border: 0;
  background-color: transparent;
}

.dashboard__section:nth-child(2) #greeting {
  font-size: 50px;
  position: absolute;
  top: 80px;
}

.dashboard__section:nth-child(2) .clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 250px;
  z-index: 997;
}

.clock #clock_dates {
  font-size: 50px;
}

.clock #clock_times {
  font-size: 180px;
}

.dashboard__section:nth-child(2) #quote {
  position: fixed;
  bottom: 40px;
  width: 800px;
  display: inline-block;
  margin: 0 auto;
  padding: 20px 40px;
  background-color: rgb(240, 227, 227);
  border-radius: 30px;
  font-size: 25px;
  text-align: center;
  box-shadow: 7px 7px 0px 3px rgb(61, 61, 61);
  z-index: 998;
}

.dashboard__section:nth-child(2) #quote p:last-child {
  font-size: 20px;
}

.dashboard__section:nth-child(3) #weather span:nth-child(2),
.dashboard__section:nth-child(3) #weather span:nth-child(3) {
  font-size: 20px;
}

.dashboard__section:nth-child(3) .drawbox a img {
  position: fixed;
  object-fit: cover;
  right: 40px;
  top: 100px;
  width: 250px;
  height: 150px;
  border: 0.5px solid black;
  border-radius: 15px;
}

.dashboard__section:nth-child(3) .drawbox a p {
  position: absolute;
  top: 150px;
  right: 90px;
  font-size: 30px;
  color: black;
  transition: all 0.4s ease-in-out;
}

.dashboard__section:nth-child(3) .drawbox a p:hover {
  top: 150px;
  right: 85px;
  font-size: 32px;
}

.dashboard__section:nth-child(3) .youtube iframe {
  position: fixed;
  right: 40px;
  width: 250px;
  height: 150px;
  border: 1px solid black;
  border-radius: 15px;
}

.dashboard__section:nth-child(3) .youtube .iframe_1 {
  top: 310px;
}

.dashboard__section:nth-child(3) .youtube .iframe_2 {
  top: 515px;
}
